.stories__box{
    width: 266px;
}
.stories__name{
    font-family: Inter;
    font-weight: bold;
     font-size: 19px;
    color: #000000;

}
.stories__descr{
    font-family: Inter;
    font-size: 15px;
    color: #7D7987;
    
}
.link{
    text-decoration: none;
    font-family: Inter;
    font-size: 15px;
    color: #FB8F1D;

}
.stories__img{
background: url(../img/image\ 12.png) no-repeat;
height: 266px;
width: 100%;
border-radius: 8px;
}
.stories__img2{
    background: url(../img/image\ 13.png) no-repeat;
    height: 266px;
    width: 100%;
    border-radius: 8px;
}
.stories__img3{
    background: url(../img/image\ 14.png) no-repeat;
    height: 266px;
    width: 100%;
    border-radius: 8px;
}
.stories__img4{
    background: url(../img/image\ 15.png) no-repeat;
    height: 266px;
    width: 100%;
    border-radius: 8px;
}